Repository portefaix/portefaix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: area/website, area/docsy, cloud/alicloud, cloud/aws, cloud/azure, cloud/civo, cloud/digitalocean, cloud/exoscale, cloud/gcp, cloud/ibmcloud, cloud/scaleway, cloud/homelab

.github/labeler.yml:

---
# Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

# Labels for action/labeler

######################################
# Label area/xxx

area/website:
- changed-files:
  - any-glob-to-any-file: content/**/*
  - any-glob-to-any-file: netlify.toml

area/docsy:
- changed-files:
  - any-glob-to-any-file: hugo.toml
  - any-glob-to-any-file: config.yaml
  - any-glob-to-any-file: go.mod

######################################
# Label cloud/xxx

cloud/alicloud:
- changed-files:
  - any-glob-to-any-file: content/en/docs/alicloud/**/*

cloud/aws:
- changed-files:
  - any-glob-to-any-file: content/en/docs/aws/**/*

cloud/azure:
- changed-files:
  - any-glob-to-any-file: content/en/docs/azure/**/*

cloud/civo:
- changed-files:
  - any-glob-to-any-file: content/en/docs/civo/**/*

cloud/digitalocean:
- changed-files:
  - any-glob-to-any-file: content/en/docs/digitalocean/**/*

cloud/exoscale:
- changed-files:
  - any-glob-to-any-file: content/en/docs/exoscale/**/*

cloud/gcp:
- changed-files:
  - any-glob-to-any-file: content/en/docs/gcp/**/*

cloud/ibmcloud:
- changed-files:
  - any-glob-to-any-file: content/en/docs/ibmcloud/**/*

cloud/scaleway:
- changed-files:
  - any-glob-to-any-file: content/en/docs/scaleway/**/*

cloud/homelab:
- changed-files:
  - any-glob-to-any-file: content/en/docs/homelab/*

feat(renovate): cleanup
  .github/renovate.json5
Labels: none

feat(doc): add components
  content/en/docs/started/getting-started.md
Labels: area/website

feat(documentation): refresh landing page
  content/en/_index.md
  hugo.toml
  static/img/about/portefaix-landscape.png
  static/img/cloud/alibabacloud-icon.svg
  static/img/cloud/aws.svg
  static/img/cloud/azure-icon.svg
  static/img/cloud/digitalocean-icon.svg
  static/img/cloud/google-cloud.svg
  static/img/cloud/portefaix.svg
  static/img/cloud/scaleway-icon.svg
Labels: area/website, area/docsy

feat(doc): some update
  diagrams/observability.excalidraw
  diagrams/opentelemetry.excalidraw
  diagrams/opentelemetry.png
  static/img/opengitops/opengitops.png
Labels: none

feat(documentation): add components and diagrams
  content/en/docs/_index.md
  content/en/docs/guides/applications/argo-cd/_index.md
  content/en/docs/guides/applications/flux-cd/_index.md
  content/en/docs/guides/applications/gitops/_index.md
  content/en/docs/guides/infrastructure/aws/overview.md
  content/en/docs/guides/infrastructure/azure/overview.md
  content/en/docs/guides/infrastructure/civo/overview.md
  content/en/docs/guides/infrastructure/digitalocean/overview.md
  content/en/docs/guides/infrastructure/exoscale/overview.md
  content/en/docs/guides/infrastructure/gcp/overview.md
  content/en/docs/guides/infrastructure/homelab/_index.md
  content/en/docs/guides/infrastructure/homelab/deploy.md
  content/en/docs/guides/infrastructure/homelab/overview.md
  content/en/docs/guides/infrastructure/ibmcloud/overview.md
  content/en/docs/guides/infrastructure/oci/overview.md
  content/en/docs/guides/infrastructure/scaleway/overview.md
  content/en/docs/reference/components/_index.md
  content/en/docs/reference/hub/_index.md
  content/en/docs/reference/inspec/_index.md
  content/en/docs/reference/krm/_index.md
  content/en/docs/reference/policies/_index.md
  diagrams/d2/portefaix-platform.d2
  diagrams/d2/portefaix-stacks.d2
  diagrams/observability.svg
  diagrams/portefaix-homelab.drawio
  diagrams/portefaix-stacks.png
  diagrams/portefaix-stacks.svg
  static/img/homelab/portefaix-stacks.svg
Labels: area/website

feat(talos): setup
  content/en/docs/guides/infrastructure/homelab/deploy.md
Labels: area/website

feat(talos): cleanup installation process
  content/en/docs/guides/infrastructure/homelab/deploy.md
Labels: area/website
